
.tag1 {
    width: 31.4%;
    margin: auto;
    height: 33rem;
    border-radius: 5px;
    background-color: #514134;
    box-shadow: 17px 10px 25px -18px rgb(0 0 0 / 75%);
    /* display: none; */
}

.tag2 {
    display: none;
    position: relative;
    width: 31.4%;
    margin: auto;
    height: 33rem;
    border-radius: 5px;
    background-color: #514134;
    box-shadow: 17px 10px 25px -18px rgb(0 0 0 / 75%);
}

.ocultar {
    display: none;
}

.desplegar {
    display: inline;
}

/* .ani {
    transition: all .5s;
} */

.ico-x {
    position: absolute;
    color: #E8E6E5;
    top: 1rem;
    right: 1rem;
}

.texto-tag {
    display: flex;
}

.tag1 figure {
    position: relative;
    width: 100%;
    height: 18.5rem;
    overflow: hidden;
    /* background-color: #514134; */
    border-radius: 5px 5px 0 0;
}

.tag1 figure img {
    object-fit: fill;
    object-position: center center;
    width: 100%;
    height: 100%;
    /* transform: scale(1.5, 1); */
}

.transform {
    transform: scale(1.5, 1);
}

.transform1 {
    transform: scale(1, 1.8);
}

.transform2 {
    transform: scale(1, 2.2);
}

.contenido {
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: #514134;
    /* position: relative; */
}

.contenido2 {
    background-color: #BB9C7F;
    width: 100%;
    text-align: left;
    height: 50%;
    padding: 2rem;
    position: relative;

}

.contenido2 p {
    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-size: 15px;
}

.contenido2 i {
    font-weight: 800;
    font-size: .8rem;
}

.btn-mas a {
    position: absolute;
    bottom: 1.5rem;
    color: #DCB693;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    height: 1rem;
}

.btn-mas:hover {
    text-decoration: underline;
}

.btn-mas a:hover {
    border-bottom: 1px solid #DCB693;
}

.btn-plus {
    color: #fff;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fcd1a7;
    position: absolute;
    right: 1.5rem;
    bottom: 1.8rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-plus i {
    text-align: center;
}

.btn-plus:hover {
    background-color: #000;
}

.contenido-tag2 {
    padding: 1.9rem;
    /* background-color: #514134; */
    text-align: left;
    border-radius: 5px;
    position: relative;
    height: 50%;
}

.contenido-tag2 h1 {
    color: #fff;
    margin: 0.8rem 0 0.8rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: -0.03em;
    line-height: 1.5rem;

}

.contenido-tag2 p {
    font-family: 'IBM Plex Serif', serif;
    color: #B2ABA5;
    font-size: .8rem;
    letter-spacing: .8px;
    font-weight: 600;
}

.ico {
    transform: translateY(55px);
    opacity: 0;
    color: #FDD2A8;


}

.tag1:hover .ico {
    opacity: 0.7;
}

.tag1:hover .contenido {
    transform: translateY(-30px);
    transition: all 0.3s ease-in;

}

.tag1:hover .transform {
    transform: scale(1.3, 1);
    transition: all 0.3s ease-in;
}

.tag1:hover .transform1 {
    transform: translateY(-20px) scale(1, 1.8);
    transition: all 0.3s ease-in;
}

.tag1:hover .transform2 {
    transform: translatey(-20px) scale(1, 2.2);
    transition: all 0.3s ease-in;
}

.btn-conciertos {
    padding: 5px;
    background-color: #FDD2A8;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #514134;

}

.btn-conciertos-tag2 {
    padding: 5px;
    background-color: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #514134;
}

.tag1 h1 {
    margin: 1rem 1rem;
    color: #E8E6E5;
}

.tag1 p {
    text-align: center;
    font-size: 12px;
    color: #E8E6E5;
}

.btn-ver {
    padding: 10px;
    background-color: #514134;
    color: #E8E6E5;
    border-radius: 3px;
    font-size: 19px;
    width: 2.5rem;
    line-height: 45px;
    /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
}

.discografia {
    background-image: url(img/02-home-gira.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    text-align: center;
}