/**
 * WEBGRAFIA
 * =========
 * CSS Transitions: https://www.w3schools.com/css/css3_transitions.asp
 * transition: https://css-tricks.com/almanac/properties/t/transition/
 * CSS 2D Transforms: https://www.w3schools.com/css/css3_2dtransforms.asp
 * CSS 3D Transforms Methods: https://www.w3schools.com/css/css3_3dtransforms.asp
 * CSS Animations: https://www.w3schools.com/css/css3_animations.asp
 * A Complete Guide to Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * A Complete Guide to Grid: https://css-tricks.com/snippets/css/complete-guide-grid/
 * Difference between animation and transition in CSS: https://www.geeksforgeeks.org/difference-between-animation-and-transition-in-css/#:~:text=CSS%20transitions%20allow%20you%20to,do%20not%20take%20effect%20immediately.&text=Animations%20consist%20of%20two%20steps,end%20states%20of%20the%20animation.
 * Animatable CSS properties: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties
 * 
 * */

/* GENERAL */

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

section{
    width: 100%;
}

.d-none{
    display: none;
}

.ocultar {
    /* height: 0px !important; */
    transform: translateY(-100%);
}

.desplegar {
    display: inline;
    transition: all 0.3s ease-in 0s;
}

.h-55-percentage{
    height: 55% !important;
}

.h-50-percentage{
    height: 50% !important;
}

.h-45-percentage{
    height: 45% !important;
}

/* ESPECIFICO */

.noticias {
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/01-home-noticias.jpg);
    /* height: 100vh; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
}

.titulo {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 90px auto 90px auto;
}

.container {
    min-width: 1170px;
    /* border: 1px solid black; */
    margin: 0 auto;
    align-items: center;
    width: 55%;
}

.tagsNoticias {
    margin-bottom: 1.5rem;

    display: grid;
    /* anchura que tendrán las columnas y el número de columas */
    grid-template-columns: repeat(3,1.2fr); /* =>  grid-template-columns: 1fr 1fr 1fr;*/
    
    /* espacios entre fila y columna */
    column-gap: 20px;
    row-gap: 15px;

    /* alineacion de hijos */
    justify-items: center;
    align-items: center;
}

    /* Tarjetas */

.tarjeta-noticias{
    width: 100%;
    overflow: hidden;
    height: 33rem;
    border-radius: 5px 5px 0 0;
}

.tarjeta-noticias .hover-translate:hover{
    transform: translateY(-9%);
    /* transition: all 0.3s ease-in; */
}

    /* Subtarjetas GENERAL */
.subtarjeta-foto, .subtarjeta-concierto, .subtarjeta-detalle{
    /*transition: [transition-property] [transition-duration]
    [transition-timing-function] [transition-delay];*/
    transition: transform 0.3s ease-in 0s;
}
    /* Subtarjeta Foto */
.subtarjeta-foto{
    /* overflow: hidden; */
    height: 50%;
    /* cogemos la altura del padre:  ".tarjeta-noticias" */
    /* height: calc(33rem/2); */
}

.subtarjeta-foto figure {
    width: 100%; 
    /* overflow: hidden; */
    position: relative;
    height: 100%;
}

#tarjeta1 figure{
    transform: scale(1.5, 1);
}
#tarjeta2 figure{
    transform: scale(1, 1.8);
}

#tarjeta3 figure{
    transform: scale(1, 2.2);
}


#tarjeta1:hover figure {
    transform: scale(1.3, 1);
    transition: all 0.3s ease-in 0s;
}

/* .tarjeta-noticias:hover .subtarjeta-concierto, 
.tarjeta-noticias:hover .subtarjeta-detalle{
    transform: translateY(-9%);
    transition: all 0.3s ease-in;
} */

#tarjeta2:hover figure{
    transform: translateY(-10%) scale(1, 1.8);
    transition: all 0.3s ease-in;
}

#tarjeta3:hover figure{
    transform: translateY(-10%) scale(1, 2.2);
    transition: all 0.3s ease-in;
}

.subtarjeta-foto figure img {
    object-fit: fill;
    object-position: center center;
    width: 100%;
    height: 100%;
}


/* Subtarjeta Conciertos */

.subtarjeta-concierto{
    padding: 1.5rem 1.5rem 0 1.5rem;
    color: #ffff;
    background-color: #514134;
    height: 55%;
    /* cogemos la altura del padre:  ".tarjeta-noticias" */
    /* height: calc(33rem/1.8); */

    position: relative;

}


.subtarjeta-concierto h1{
    margin: 1rem 1rem;
}

.subtarjeta-concierto p {
    text-align: center;
    font-size: 12px;
    color: #E8E6E5;
}

.btn-conciertos {
    padding: 5px;
    background-color: #FDD2A8;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #514134; 
}
.ico {
    position: absolute;
    bottom: 0;
    /* transform: translateY(65px); */
    color: #FDD2A8;
}

.ico3{
    /* transform: translateY(77px); */
    color: #FDD2A8;
}

/* Subtarjeta detalle */

.subtarjeta-detalle{
    width: 100%;
    height: 45%;
    /* cogemos la altura del padre:  ".tarjeta-noticias" */
    /* height: calc(33rem/2.2); */
    background-color: #BB9C7F;
    text-align: left;
    padding: 2rem;

    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
}


.btn-mas a{
    bottom: 1.5rem;
    color: #DCB693;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    height: 1rem;
    margin-top: 40%;
    display: block;
}
 /* .btn-mas:hover {
    text-decoration: underline; 
} */

.btn-mas a:hover {
    border-bottom: 1px solid #DCB693;
}

.btn-ver {
    padding: 10px;
    background-color: #514134;
    color: #E8E6E5;
    border-radius: 3px;
    font-size: 19px;
    width: 2.5rem;
    line-height: 45px;
    /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
}