/**
 * WEBGRAFIA
 * =========
 * CSS Transitions: https://www.w3schools.com/css/css3_transitions.asp
 * CSS 2D Transforms: https://www.w3schools.com/css/css3_2dtransforms.asp
 * CSS 3D Transforms Methods: https://www.w3schools.com/css/css3_3dtransforms.asp
 * CSS Animations: https://www.w3schools.com/css/css3_animations.asp
 * A Complete Guide to Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * A Complete Guide to Grid: https://css-tricks.com/snippets/css/complete-guide-grid/
 * */

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

section{
    width: 100%;
}
.noticias {
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/01-home-noticias.jpg);
    /* height: 100vh; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    width: 100%;
}

.titulo {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
    margin: 90px auto 90px auto;
}

.container {
    min-width: 1170px;
    /* border: 1px solid black; */
    margin: 0 auto;
    align-items: center;
    width: 55%;
}

.tagsNoticias {
    margin-bottom: 1.5rem;

    display: grid;
    /* anchura que tendrán las columnas y el número de columas */
    grid-template-columns: repeat(3,1fr); /* =>  grid-template-columns: 1fr 1fr 1fr;*/
    
    /* espacios entre fila y columna */
    column-gap: 10px;
    row-gap: 15px;

    /* alineacion de hijos */
    justify-items: center;
    align-items: center;
}
